<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NTIP | Online Biblioteka</title>

    <meta property="og:title" content="Online Biblioteka" />
    <meta property="og:description"
        content="Online Biblioteka je aplikacija za pregledavanje Vaših omiljenih knjiga, ostavljanje recenzija i spremanje omiljenih knjiga u liste za čitanje." />
    <meta property="og:image"
        content="https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="NTIP | Online Biblioteka">
    <meta property="og:url" content="https://ntip-online-biblioteka.herokuapp.com/">

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome 5.11.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>