<aside id="sidebar">
	<ul class="text-white text-center text-md-left pt-1">
		<li class="mt-2">
			<!-- <p class="d-md-none"><em>NTIP</em></p>
			<p class="d-none d-md-block"><em>Online Biblioteka</em></p> -->
		</li>
		<% if(currentUser){ %>
		<li class="mt-2 text-md-center">
			<% if(currentUser.profileImage) { %>
			<img src="<%=currentUser.profileImage%>" alt="Profilna slika" class="profile-image" />
			<% } else { %>
			<i class="fas fa-user" class="profile-image"></i>
			<% } %>
		</li>
		<li class="mt-1 d-none d-md-block text-md-center">
			<h6 class="profile-name"><%= currentUser.firstName + " " + currentUser.lastName %></h6>
		</li>
		<% } %>
		<li class="mt-4 pl-md-3">
			<a href="/">
				<i class="fas fa-home"></i>
				<span class="d-none d-md-inline ml-2">Početna</span>
			</a>
		</li>
		<% if(currentUser){ %>
		<li class="mt-2 pl-md-3">
			<a href="/users/<%= currentUser.username%>">
				<i class="fas fa-user"></i>
				<span class="d-none d-md-inline ml-2" <%if (page && page == "profil") { %> style="border-bottom: 1px solid #fff;" <% } %>>Profil</span>
			</a>
		</li>
		<li class="mt-2 pl-md-3">
			<a href="/books/favorites">
				<i class="fas fa-heart"></i>
				<span class="d-none d-md-inline ml-2" <%if (page && page == "favoriti") { %> style="border-bottom: 1px solid #fff;" <% } %>>
					Favoriti <%if (currentUser && currentUser.favorites.length >0) { %>
					<sup><span class="badge badge-danger rounded-circle"><%= currentUser.favorites.length %></span></sup>
					<% } %>
				</span>
			</a>
		</li>
		<li class="mt-2 pl-md-3">
			<a href="#">
				<i class="fas fa-cog"></i>
				<span class="d-none d-md-inline ml-2" <%if (page && page == "postavke") { %> style="border-bottom: 1px solid #fff;" <% } %>>Postavke</span>
			</a>
		</li>
		<% } %>
		<li class="mt-2 pl-md-3">
			<% if(currentUser){ %>
			<a href="/logout">
				<i class="fas fa-sign-out-alt"></i>
				<span class="d-none d-md-inline ml-2">Odjava</span>
			</a>
			<% } else{ %>
			<a href="/login">
				<i class="fas fa-sign-in-alt"></i>
				<span class="d-none d-md-inline ml-2">Prijava</span>
			</a>
			<% } %>
		</li>
	</ul>
</aside>
