<% include ./partials/head %> <% include ./partials/flashmessages %>

<main>
	<!-- Prijava - section -->
	<section class="registration-login-page-section">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-6">
					<div class="card px-lg-5 py-md-4">
						<div class="card-body">
							<h4 class="card-title text-center">
								<strong>Prijava</strong>
							</h4>
							<form action="/login" method="POST" class="mt-4 mt-md-5">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="username"><i class="fas fa-user"></i></span>
									</div>
									<input
										type="text"
										class="form-control"
										placeholder="Korisničko ime*"
										aria-label="Korisničko ime"
										name="username"
										aria-describedby="username"
										pattern="^[a-z0-9_-]{4,10}$"
										title="Može sadržavati slova, brojeve i '_' ili '-'. Minimalna dužina: 4 znaka. Maksimalna dužina: 10 znakova."
										required
									/>
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="password"><i class="fas fa-lock"></i></span>
									</div>
									<input
										type="password"
										name="password"
										class="form-control"
										placeholder="Šifra*"
										aria-label="Šifra"
										aria-describedby="password"
										pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$"
										title="Mora sadržavati barem jedno veliko slovo i jedno malo slovo bez kvačica, broj i specijalni znak. Minimalna dužina: 8 znakova."
										required
									/>
								</div>

								<div class="form-group mt-4 mt-md-5">
									<button class="btn read-more-btn register-btn btn-block" type="submit">Prijava</button>
								</div>
							</form>
							<p class="text-center">
								<em><a href="/forgot">Zaboravili ste šifru?</a></em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<% include ./partials/foot %>
